.location-section-title {
    font-weight: bold;
    color: white;
}

.location-info-box {
    spacing: .5em;
}

.location-info-title {
    padding-left: 12pt;
    color: white;
    text-align: left;
}

.location-info-value {
    color: white;
    text-align: right;
}